html {
  /* Disable double tap expansion (for touch device) */
  touch-action: manipulation;
}

.container {
  margin: auto;
  align-content: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: #dcd6bc;
  border: 2px solid #dcd6bc;
}

div {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

.valid {
  display: flex;
  justify-content: center;
  align-items: center ;
  box-sizing: border-box;
}

.panda {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bebe3b;
  box-sizing: border-box;
}

.checked {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cecab7;
  box-sizing: border-box;
}

.bomb {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.one {
  color: #e76346;
}

.two {
  color: #4199d3;
}

.three {
  color: #57da59;
}

.four{
  color: #bb41d3;
}

#result {
  margin-top: 5px;
  color: #e76346;
}

/* -------- Responsive Setting -------- */

@media screen and (min-width: 1025px){
  body{
    background-color: #ffffff;
  }

  .container{
    width: 1357px;
    height: 575px;
  }

  .valid, .bomb, .checked, .panda{
    width: 23px;
    height: 23px;
    border: 0.3px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    font-size: 14px;
  }

  .checked, .panda{
    border: 0.1px solid;
    border-color: #bcb9ad;
  }
}

@media screen and (max-width: 1024px){
  .container{
    width: 914.5px;
    height: 387.5px;
  }

  .valid, .bomb, .checked, .panda{
    width: 15.5px;
    height: 15.5px;
    border: 0.3px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    font-size: 11px;
  }

  .checked, .panda{
    border: 0.1px solid;
    border-color: #bcb9ad;
  }
}

@media screen and (max-width: 768px){
  .container{
    width: 649px;
    height: 275px;
  }

  .valid, .bomb, .checked, .panda{
    width: 11px;
    height: 11px;
    border: 0.3px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    font-size: 8px;
  }

  .checked, .panda{
    border: 0.1px solid;
    border-color: #bcb9ad;
  }
}

/* modal */
.modalArea {
  visibility: hidden;
  opacity : 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .4s;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 600px;
  max-width: 70%;
  padding: 10px 30px;
  background-color: #fff;
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}

.is-show {
  visibility: visible;
  opacity : 1;
}

#openModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}

/* Button */
.button {
  font-size: 0.5em;
  font-weight: bold;
  padding: .8em 1.6em;
  margin: 0.4em;
  text-decoration: none;
  border-style: none;
  border-radius: 5px;
}
.button:hover {
  opacity: 0.6;
  transition: 1.0s ;
}

.restartButton {
  background-color: #b3b3b3;
  color: #000;
}
.tweetButton:hover {
  color: #000;
}

.tweetButton {
  background-color: #00acee;
  color: #fff;
}
.tweetButton:hover {
  color: #fff;
}