.container {
  width: 100%;
  align-content: center;
}

.explanation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

label{
  font-size: 18px;
}

.grid {
  /* height: 400px;
  width: 400px; */
  display: flex;
  flex-wrap: wrap;
  background-color: #dcd6bc;
  margin: auto;
  border: 10px solid #dcd6bc;
}

div {
  font-size: 25px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

.valid {
  display: flex;
  justify-content: center;
  align-items: center ;
  border: 5px solid;
  border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
  box-sizing: border-box;
}

.panda {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  background-color: #bebe3b;
  border-color: #9c998d;
  box-sizing: border-box;
}

.checked {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  background-color: #cecab7;
  border-color: #9c998d;
  box-sizing: border-box;
  font-size: 1vw;
}

.bomb {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid;
  border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
  box-sizing: border-box;
}

.one {
  color: #e76346;
}

.two {
  color: #4199d3;
}

.three {
  color: #57da59;
}

.four{
  color: #bb41d3;
}

#result {
  margin-top: 5px;
  color: #e76346;
}
