.container {
  margin: auto;
  align-content: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: #dcd6bc;
  border: 2px solid #dcd6bc;
}

div {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

.valid {
  display: flex;
  justify-content: center;
  align-items: center ;
  box-sizing: border-box;
}

.panda {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bebe3b;
  box-sizing: border-box;
}

.checked {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cecab7;
  box-sizing: border-box;
}

.bomb {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.one {
  color: #e76346;
}

.two {
  color: #4199d3;
}

.three {
  color: #57da59;
}

.four{
  color: #bb41d3;
}

#result {
  margin-top: 5px;
  color: #e76346;
}

/* -------- Responsive Setting -------- */

@media screen and (min-width: 1025px){
  body{
    background-color: #ffffff;
  }

  .container{
    width: 1357px;
    height: 575px;
  }

  .valid, .bomb, .checked, .panda{
    width: 23px;
    height: 23px;
    border: 0.3px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    font-size: 14px;
  }

  .checked, .panda{
    border: 0.1px solid;
    border-color: #bcb9ad;
  }
}

@media screen and (max-width: 1024px){
  .container{
    width: 914.5px;
    height: 387.5px;
  }

  .valid, .bomb, .checked, .panda{
    width: 15.5px;
    height: 15.5px;
    border: 0.3px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    font-size: 11px;
  }

  .checked, .panda{
    border: 0.1px solid;
    border-color: #bcb9ad;
  }
}

@media screen and (max-width: 768px){
  .container{
    width: 649px;
    height: 275px;
  }

  .valid, .bomb, .checked, .panda{
    width: 11px;
    height: 11px;
    border: 0.3px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    font-size: 8px;
  }

  .checked, .panda{
    border: 0.1px solid;
    border-color: #bcb9ad;
  }
}

/* @media screen and (max-width: 425px){
  .container{
    width: 383.5px;
    height: 162.5px;
  }

  .valid, .bomb, .checked, .panda{
    width: 6.5px;
    height: 6.5px;
    border: 0.3px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    font-size: 6px;
  }

  .checked, .panda{
    border: 0.1px solid;
    border-color: #bcb9ad;
  }
}

@media screen and (max-width: 375px){
  .container{
    width: 336.3px;
    height: 142.5px;
  }

  .valid, .bomb, .checked, .panda{
    width: 5.7px;
    height: 5.7px;
    border: 0.3px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    font-size: 5px;
  }

  .checked, .panda{
    border: 0.1px solid;
    border-color: #bcb9ad;
  }
}

@media screen and (max-width: 320px){
  .container{
    width: 283.2px;
    height: 120px;
  }

  .valid, .bomb, .checked, .panda{
    width: 4.8px;
    height: 4.8px;
    border: 0.3px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    font-size: 4px;
  }

  .checked, .panda{
    border: 0.1px solid;
    border-color: #bcb9ad;
  }
} */ 
